﻿@model RiversideHealth.Models.GiftCategory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
@if ((string)ViewData["UserIsAdmin"] != "False")
{
    <div>
        <a href="/GiftCategory/Edit/@Model.GiftCategoryId">Edit</a> |
        <a href="/GiftCategory/Index">Back to List</a>
    </div>
}
    <div>
        <h4>GiftCategory</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Model.GiftCategoryId
            </dt>
            <dd>
                @Model.GiftCategoryName
            </dd>
        </dl>
    </div>

