﻿@model IEnumerable<RiversideHealth.Models.GiftCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Gift Category List</h2>

<p>
    <a href="/GiftCategory/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.GiftCategoryName
                </td>
                <td>
                    @if ((string)ViewData["UserIsAdmin"] != "False")
                    {
                        <a href="/GiftCategory/Edit/@item.GiftCategoryId">Edit</a> <span>|</span>
                        <a href="/GiftCategory/Details/@item.GiftCategoryId">View</a>
                        // disable deleting the uncategorized category
                        if (item.GiftCategoryName != "Uncategorized")
                        {
                            <span>|</span><a href="/GiftCategory/Delete/@item.GiftCategoryId"> Delete</a>
                        }

                    }
                    else
                    {
                        <a href="/GiftCategory/Details/@item.GiftCategoryId">View</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Pagination -->
<div class="text-center">
    <!--html decode to add arrows
    reference: https://stackoverflow.com/questions/35437491/webutility-htmldecode-replacement-in-net-core
    -->
    @Html.ActionLink(System.Net.WebUtility.HtmlDecode("&larr; Prev"), "Index", "GiftShopCategory", new { page = ((int)ViewData["page"] - 1) })
    @ViewData["PageSummary"]
    @Html.ActionLink(System.Net.WebUtility.HtmlDecode("Next &rarr;"), "Index", "GiftShopCategory", new { page = ((int)ViewData["page"] + 1) })
</div>
