﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TAMAK Hospital</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/layout.css" />
        <link rel="stylesheet" href="~/css/Bajaj.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>
</head>
<body>
    <div class="fixed-top">
        <nav class="navbar navbar-inverse  navigation pt-3" id="navigation">
            <div class="container primary-navigation">
                <div><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="nav__logo" src="~/images/logo.png" alt="Riverside Health Care Center Logo" /></a></div>
                <div class="nav__donate-search">
                    <div>
                        <a class="nav__donate-btn" asp-area="" asp-controller="Donation" asp-action="Index"> Donate </a>
                        @*<button class="btn-primary nav__donate-btn">Donate</button>*@
                    </div>
                    <div>
                        <form action="" method="GET">
                            <div>
                                <label for="search" class="sr-only">Search:</label>
                            </div>
                            <input type="text" placeholder="search here" class="" name="search" />
                            <button type="submit" class="btn-primary nav__search-btn">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container secondary-navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="nav__links">

                        @* Need to create views for these links. *@
                        <li class="nav__links"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav__links"><a asp-area="" asp-controller="Page" asp-action="PublicIndex">About</a></li>
                        <li class="nav__links"><a asp-area="" asp-controller="ProgramsServices" asp-action="Index">Programs &amp; Services </a></li>
                        <li class="nav__links"><a asp-area="" asp-controller="PatientsAndVisitors" asp-action="Start">Patients &amp; Visitors </a></li>
                        <li class="nav__links"><a asp-area="" asp-controller="FrequentlyAskedQuestion" asp-action="FaqUserList">FAQ</a></li>
                        <li class="nav__links"><a asp-area="" asp-controller="Locations" asp-action="Index"> Locations </a></li>
                        <li class="nav__links"><a asp-area="" asp-controller="ContactUsAdmin" asp-action="UserCreate">Contact Us</a></li>
                        <li class="nav__links"><a asp-area="" asp-controller="Career" asp-action="PublicIndex">Join Our Team </a></li>


                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer>
        <div class="footer__wrap">
            <div class="widgets">
                <div class="widget__group1">
                    <div>
                        <h3>About Us</h3>
                        @ViewBag.Pages

                        <ul>
                            <li>Board of Directors</li>
                            <li>Code of Conduct</li>
                            <li>Community Profile</li>
                            <li>Message from the CEO</li>
                            <li>Mission and Values</li>
                        </ul>
                    </div>
                    <div>
                        <h3>Locations</h3>

                        <ul>
                            <li>Emo Health Center</li>
                            <li>La Verendrye Hospital</li>
                            <li>Rainy River Hospital</li>
                            <li>Rainy Crest Long Term Care</li>
                        </ul>
                    </div>
                </div>
                <div class="widget__group2">
                    <a asp-area="" asp-controller="Career" asp-action="PublicIndex" class="widget__bigLink"> Join Us </a>
                    <a class="widget__bigLink" href="#">Gift Shop</a>
                    <div class="widget__accreditation">
                        <img src="~/images/acLogo.png" alt="Accreditation Canada Logo" />
                        <img src="~/images/hqoLogo.png" alt="Health Quality Ontario Logo" />
                    </div>
                </div>
            </div>
            @*<partial name="_LoginPartial" />*@
            <p>&copy; 2019 - TAMAK Hospital</p>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
