﻿@* References Christine's code. *@
@model RiversideHealth.Models.Admin

@{
    ViewBag.Title = "Details";
}
<h1 style="display:none;">The Associated User ID is @Model.UserId</h1>
<div class="promptlink">
    @if ((string)ViewData["UserIsAdmin"] == "True")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.AdminId })
    }
</div>
<div class="promptlinkleft">
    @Html.ActionLink("Back to List", "Index")
</div>

