﻿@model System.Data.DataTable
@{
    ViewData["Title"] = "VisitorInfo";
}

<div style="border:2px solid black;">
    <center><h2>Visitor Info</h2></center>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
    <div style="border:1px solid black; margin:5px; padding:10px;">
        <h2>@Model.Rows[i][1]</h2>
        <h4>@Model.Rows[i][2]</h4>
        <h4>@Model.Rows[i][3]</h4>
    </div>
    }
</div>

