﻿@model System.Data.DataTable
@{
    ViewData["Title"] = "PatientIndex";
}

<div class="row">
    <div class="col-md-4">
        <h2>Info For Patient</h2>
    </div>
    <div style="text-align:right; margin-right:20px;">
        <h3><a asp-action="PatientCreate" style="border:1px solid black;">+ Add Info For Patient</a></h3>
    </div>
</div>
<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>
                <a href="@Url.Action("PatientEdit" , "PatientsAndVisitorsAdmin" ,new {@id=Model.Rows[i][0] })">Update</a>
                <a href="@Url.Action("patientDelete" , "PatientsAndVisitorsAdmin" ,new {@id=Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }

</table>

