﻿@model IEnumerable<RiversideHealth.Models.Transaction>
@{
    ViewData["Title"] = "Index";
}

<h2>Transaction List</h2>
<table class="table">
    <tr>
        <th>Reference ID</th>
        <th>Transaction Date</th>
        <th>Transaction Amount</th>
        <th>Transaction Status</th>
        <th>Donator</th>
        <th>Option</th>
    </tr>
    @foreach (var transactions in Model)
    {
        <tr>
            <td>@transactions.ReferenceId</td>
            <td>@transactions.TransactionDate</td>
            <td>$ @transactions.TransactionAmount</td>
            <td>@transactions.TransactionStatus</td>
            <td>@transactions.DonatorId</td>
            <td><a href="/Transaction/Details/@transactions.TransactionId">@transactions.DonatorId</td>
        </tr>
    }
</table>

<!-- Pagination -->
<div class="text-center">
    <!--html decode to add arrows
        reference: https://stackoverflow.com/questions/35437491/webutility-htmldecode-replacement-in-net-core
    -->
    @Html.ActionLink(System.Net.WebUtility.HtmlDecode("&larr; Prev"), "Index", "Transaction", new { page = ((int)ViewData["page"] - 1) })
    @ViewData["PageSummary"]
    @Html.ActionLink(System.Net.WebUtility.HtmlDecode("Next &rarr;"), "Index", "Transaction", new { page = ((int)ViewData["page"] + 1) })
</div>