﻿@model RiversideHealth.Models.HealthTipsCategory
@{
    ViewData["Title"] = "Create";
}
<div>
    <a href="/HealthTipsCategory/Index" class="btn btn-link">Back to List</a>
</div>
<h2>Add Health Tips Category</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/HealthTipsCategory/Create" method="post">
            <div class="form-group">
                <label for="catTitle">Category Name:</label>
                <input type="text" id="catTitle" name="CategoryTitle_new" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
