﻿@model RiversideHealth.Models.HealthTipsCategory
@{
    ViewData["Title"] = "Details";
}

@if ((string)ViewData["UserIsAdmin"] != "False")
{
    <div>
        <a href="/HealthTipsCategory/Edit/@Model.TipsCategoryId">Edit</a> |
        <a href="/HealthTipsCategory/Delete/@Model.TipsCategoryId">Delete</a> |
        <a href="/HealthTipsCategory/Index">Back to List</a>
    </div>
}
<h2>Category Details</h2>
<p>Category Name: @Model.CategoryTitle</p>
