﻿@model RiversideHealth.Models.HealthTipsCategory
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<div>
    <a href="/HealthTipsCategory/Index" class="btn btn-link">Back to List</a>
</div>
<h2>Add Health Tips Category</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/HealthTipsCategory/Edit/@Model.TipsCategoryId" method="post">
            <div class="form-group">
                <label for="catTitle">Category Name:</label>
                <input type="text" id="catTitle" name="CategoryTitle_update" class="form-control" value="@Model.CategoryTitle"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>