﻿@model RiversideHealth.Models.Announcement
@{
    ViewData["Title"] = "Home Page";
}



<div class="alert alert-warning">

    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Road Closures</strong> <em>April 19 2019</em>
    <div>
        Highway 1 closed due to heavy snow.
    </div>

</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            @* Temporarily styled via inline styling. Must migrate to CSS file before production build. *@
            <img src="~/images/donate.jpeg" style="height:360px; width: 100%;" alt="Donate to TAMAK Hospital" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Make your contribution to TAMAK Hopsital!
                    <a class="btn btn-default" asp-area="" asp-controller="Donation" asp-action="Index"> Donate </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner1.webp" alt="Contact Us" style="object-position:top; object-fit:cover; height: 360px; width: 100%;"class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Contact us if you have any questions!
                    <a class="btn btn-default" asp-area="" asp-controller="ConactUsAdmin" asp-action="UserCreate"> Contact Us </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/joinus.webp" style="object-position:center; object-fit:cover; height: 360px; width: 100%;" alt="Join Us" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Join our talented team!
                    <a class="btn btn-default" asp-area="" asp-controller="Careers" asp-action="PublicIndex"> Join Us </a>
                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="homeMenu">
    <div class="megaBtnContainer">
        <div class="megaBtn__row">
            <a asp-area="" asp-controller="PatientsAndVisitors" asp-action="Start" class="megaBtn">Patients and Visitor Information</a>
            <a asp-area="" asp-controller="ProgramsServices" asp-action="Index" class="megaBtn">Programs and Services</a>


        </div>
        <div class="megaBtn__row">
            <a asp-area="" asp-controller="ContactUsAdmin" asp-action="UserCreate" class="megaBtn">Contact Us</a>
            <a asp-area="" asp-controller="Subscribe" asp-action="Create" class="megaBtn">Subscribe to our News Letter</a>

        </div>
    </div>
    <section class="news__container">
        <h3>News and Updates</h3>
        <div class="news">
            <h4 class="">Brand New Website Launch</h4>
            <h5 class="subheading">April 10, 2019 10:47:00 AM</h5>
            <p>
                Our new website is here! The new website design should be more aesthetically pleasing,
                easier to use, and most importantly, machine readable, so that accessible technologies
                can assist individuals with disabilities to navigate the website.
            </p>
        </div>
        <hr />
        <div class="news">
            <h4 class="">Is your diet healthy?</h4>
            <h5 class="subheading">April 09, 2019 10:10:00 AM</h5>
            <p>
                Do you feel healthy? Your diet has a significant effect in your day to day life, and
                you might not know it! Learn how to eat healthy to boost your immune system, so that you
                don't have to come to the hospital ever again!
            </p>
        </div>


    </section>
    @*<div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>*@
</div>
