﻿@model System.Data.DataTable
@{
    ViewData["Title"] = "SuperAdminEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if ((string)ViewData["IsSuperAdmin"] == "true")
{
    <h2>Edit</h2>


    <form method="POST" action="">

        <input type="hidden" value="@Model.Rows[0]["id"]" id="userid" name="userid" />

        <div class="inprow">
            <label class="inplabel">First Name</label>
            <input type="text" value="@Model.Rows[0]["Fname"]" id="firstName" name="firstName" required />
        </div>
        <div class="inprow">
            <label class="inplabel">Last Name</label>
            <input type="text" value="@Model.Rows[0]["Lname"]" id="lastName" name="lastName" required />
        </div>
        <div class="inprow">
            <label class="inplabel">Email</label>
            <input type="text" value="@Model.Rows[0]["Email"]" id="email" name="email" readonly />
        </div>
        <div class="inprow">
            <label class="inplabel">Status</label>
            @if (Model.Rows[0]["AdminId"] == System.DBNull.Value)
            {
                <input type="radio" id="NotApproved" Name="status" value="Not Approved" checked>
                <label class="inplabel">Not Approved</label>
                <input type="radio" id="Approved" Name="status" value="Approved" />
                <label class="inplabel">Approved</label>
            }
            else
            {
                <input type="radio" id="NotApproved" Name="status" value="Not Approved">
                <label class="inplabel">Not Approved</label>
                <input type="radio" id="Approved" Name="status" value="Approved" checked />
                <label class="inplabel">Approved</label>
            }
        </div>
        <div class="inprow">
            <input type="submit" value="Submit" />
        </div>
    </form>
    <div>
        @Html.ActionLink("Back to List", "SuperAdminIndex")
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
        </div>
        <div class="col-lg-5 col-md-5">
            <img src="~/images/Unauthorized-Access-error.png" alt="Unauthorized access" />
        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
        </div>
        <div class="col-lg-5 col-md-5">
            <h3 style="color: red;">You are not authroized to access this page.Try again with valid credentials.</h3>

        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
}