﻿@model System.Data.DataTable
@{
    ViewData["Title"] = "Index";
}

@if ((string)ViewData["IsSuperAdmin"] == "true")
{
    <h2>Admin list</h2>

    <table class="table table-bordered table-striped">
        <tr>
            @*<th>First Name</th>
            <th>Last Name</th>*@
            <th>Email</th>
            <th>User Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                @*<td>@Model.Rows[i]["Fname"]</td>
                <td>@Model.Rows[i]["Lname"]</td>*@
                <td>@Model.Rows[i]["Email"]</td>
                <td>@Model.Rows[i]["UserName"]</td>
                <td>
                    @if (Model.Rows[i]["AdminId"] == System.DBNull.Value)
                    {
                        <span>Not Approved</span>
                    }
                    else
                    {
                        <span>Approved</span>
                    }
                </td>
                <td>
                    <a href="@Url.Action("SuperAdminEdit", "SuperAdmin", new { id = Model.Rows[i][0] })">Edit</a>
                    @*<a href="@Url.Action("SuperAdminDelete", "SuperAdmin", new { id = Model.Rows[i][0] })">Delete</a>*@
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="row">
        <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
        </div>
        <div class="col-lg-5 col-md-5">
            <img src="~/images/Unauthorized-Access-error.png" alt="Unauthorized access" />
        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
        </div>
        <div class="col-lg-5 col-md-5">
            <h3 style="color: red;">You are not authroized to access this page.Try again with valid credentials.</h3>

        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
}