﻿@model RiversideHealth.Models.ViewModels.CareerEdit
@{
    ViewBag.Title = "Create";
}
@* Lots of code referenced from Christine! *@
@if ((string)ViewData["UserIsAdmin"] != "false")
{
    <h2>New Career</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div>
            @Html.Raw(@ViewData["UserHasAdmin"])
        </div>*@
    <form method="POST" action="/Career/Create">
        <div class="inprow">
            <div>
                <label class="inplabel">Title</label>
            </div>
            <input id="RoleName_New" name="RoleName_New" required/>
        </div>
        <div class="inptrow">
            <input type="hidden" name="CareerAuthor_New" value="@ViewData["UserHasAdmin"]" />
        </div>
        <div class="inptrow">
            <label>Role Type</label>
            <div>
                <input id="volunteer" type="radio" name="RoleType" value="0" />
                <label for="volunteer">Volunteer</label>
            </div>
            <div>
                <input id="paid" type="radio" name="RoleType" value="1" />
                <label for="paid">Paid</label>
            </div>
        </div>
        <div class="inprow">
            <div>
                <label class="inputlabel">Contact Person</label>
            </div>
            <input id="ContactPerson" name="ContactPerson_New" required/>
        </div>
        <div class="inprow">
            <div>
                <label class="inputlabel">Contact Person Email</label>
            </div>
            <input id="ContactPersonEmail" name="ContactPersonEmail_New" required />
        </div>
        <div class="inprow">
            <div>
                <label class="inputlabel">Wage Per Hour</label>
            </div>
            <strong>$</strong> <input id="Wage" name="Wage_New" required />
        </div>
        <div class="inprow">
            <div>
                <label class="inputlabel">Role Description</label>
            </div>
            <textarea id="RoleDescription_New" name="RoleDescription_New" required></textarea>
        </div>
        <div class="inptrow">
            <div>
                <input id="Active" type="radio" name="RoleStatus" value="1" />
                <label for="Active">Set Role To Active</label>
            </div>
            <div>
                <input id="Inactive" type="radio" name="RoleStatus" value="0" />
                <label for="Inactive">Set Role To Inactive</label>
            </div>
        </div>
        <div class="inprow">
            <input type="submit" value="Submit" />
        </div>
    </form>
}
else
{
    <div class="row">
        <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
        </div>
        <div class="col-lg-5 col-md-5">
            <img src="~/images/Unauthorized-Access-error.png" alt="Unauthorized access" />
        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4" id="unauthorizedaccesserrorimg">
        </div>
        <div class="col-lg-5 col-md-5">
            <h3 style="color: red;">You are not authroized to access this page.Try again with valid credentials.</h3>

        </div>
        <div class="col-lg-3 col-md-3">

        </div>
    </div>
}