﻿@model RiversideHealth.Models.ViewModels.GiftItemEdit
@{
    ViewData["Title"] = "Edit";
}

<div>
    <a href="/GiftShop/Index">Back to List</a>
</div>

<h2>Edit Gift Item</h2>
<hr />
<div class="row">
    <form action="/GiftShop/Update/@Model.GiftItems.GiftItemsId" enctype="multipart/form-data" method="post">
        <div class="col-md-4">
            <div class="form-group">
                <label for="giftItemName" class="control-label">Item Name:</label>
                <input type="text" name="GiftItemName_Update" class="form-control" value="@Model.GiftItems.GiftItemName"/>
            </div>
            <div class="form-group">
                <label for="giftItemDesc" class="control-label">Description:</label>
                <textarea name="GiftItemDescription_Update" class="form-control">@Model.GiftItems.GiftItemDescription</textarea>
            </div>
            <div class="form-group">
                <label for="giftItemPrice" class="control-label">Price:</label>
                <input type="text" name="GiftItemPrice_Update" class="form-control" value="@Model.GiftItems.GiftItemPrice"/>
            </div>
            <div class="form-group">
                <label name="GiftCategoryId" class="control-label">Gift Category</label>
                <select name="GiftCategoryId_Update" class="form-control">
                    @{
                        foreach (var cat in Model.GiftCategories)
                        {
                            string selected = "";

                            if (Model.GiftItems.GiftCategoryId == cat.GiftCategoryId)
                            {
                                selected = "selected";
                            }
                            // set selected if it matches the id
                            <option value="@cat.GiftCategoryId" selected="@selected">@cat.GiftCategoryName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Available Item Locations</label>
                @foreach (var locations in Model.Locations)
                {
                    <label>
                        <input type="checkbox" name="Locations" value="@locations.LocationId" />
                        @locations.LocationName
                    </label>
                }
            </div>
            <div class="form-group">
                <img src="~/images/gift-items/@Model.GiftItems.GiftItemImage" alt="item thumbnail" />

            </div>
            <div class="form-group">
                <label name="GiftItemImage">Upload Image</label>
                <input type="file" name="ItemImage"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

